.cabecalho {
    background-color: var(--cor-cabecalho);
    height: 4.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--sombra);
}

.cabecalho__titulo {
    color: var(--cor-contraste-claro);
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
}
